{{define "body"}}
<h1>Enter stories for {{.SessionTitle}}</h1>

{{ if .Message }}
  <div class="alert alert-info" role="alert">
    {{ .Message }}
  </div>
{{ end }}

{{ if .Stories }}
<h3>Current stories</h3>
<ul>
  {{ range .Stories }}
    <li>{{ .Title }}</li>
  {{ end }}
</ul>
{{ end }}

<form method="POST">
  <input type="hidden" name="channel" value="{{.ChannelName}}">
  <input type="hidden" name="channel_id" value="{{.ChannelID}}">

  <textarea class="form-control" name="stories" rows="15"></textarea>
  <button type="submit" class="btn btn-default">Add stories</button>
</form>
{{end}}
